{{ block title }}Your Choice{{ endblock }}
{{ block content }}
    {{ if group.round_number == 1 }}
        <p>
            You have been assigned the role of Participant A.
            {{ if C.NUM_ROUNDS > 1 }}
                This will be your role for the entire experiment.
            {{ endif }}
           Another participant will be assigned the role of Participant B.
        </p>
    {{ else }}
    <p>
        You are in round {{ group.round_number }} of {{ C.NUM_ROUNDS }} rounds.
    </p>
    {{ endif }}    
    <p>
        {{ if C.NUM_ROUNDS > 1 }}
            As in every round, you 
        {{ else }} 
            You 
        {{ endif }}
        have received an initial endowment of 100 and have to decide on the number of points 
        that you will send to Participant B.
        This amount can be any integer between 0 and {{ C.WAGE_MAX }}.
        After observing the number of points they received, Participant B 
        will select a multiplier. 
        Multipliers are costly for Participant B.
        Below, you find a table that shows the multipliers 
        that Participant B can choose from and their costs to Participant B.
        The multiplier that Participant B chooses determines your payoff. 
        Your payoff will be calculated as (your endowment - number of points sent to Participant B) times the multiplier selected by Participant B.
        The payoff of Participant B will be calculated as the number of points you sent to Participant B times the cost of the multiplier selected by Participant B.
    </p>
    <ul>
        <li>Your payoff = (100 - number of points you sent to Participnt B) * multiplier selected by Participant B</li>
        <li>Payoff Participant B = number of points you sent to Participant B * cost of multiplier selected by Participant B</li>
    </ul>    
    {{ formfields }}
    <p>
        {{ include_sibling 'multiplier_table.html' }} 
    </p>
    <p>
    {{ next_button }}
    </p>

{{ endblock }}
