{{ block title }}Your Choice{{ endblock }}
{{ block content }}
    {{ if group.round_number == 1 }}
        <p>
            You have been assigned the role of Participant A.
            {{ if C.NUM_ROUNDS > 1 }}
                This will be your role for the entire experiment. 
            {{ endif }}
            Participant B will be represented by another
            participant.
        </p>
    {{ else }}
    <p>
        You are in round {{ group.round_number }} of {{ C.NUM_ROUNDS }} rounds.
    </p>
    {{ endif }}    
    <p>
        {{ if C.NUM_ROUNDS > 1 }}
            Like in every round, you 
        {{ else }} 
            You 
        {{ endif }}
        have an initial wealth of 100 and have to decide on the amount 
        that you will send to participant B.
        This amount can be any integer between 0 and {{ C.WAGE_MAX }}.
        Based on the amount that she or he has received, participant B 
        will choose an effort level, inducing an effort cost.
        Below, you will find the table that links the effort multiplier to 
        the effort cost that participant B can choose for your reference.
        This effort multiplier will determine your payoff. Your payoff 
        will be calculated as the product of the effort multiplier with
        the difference of your initial wealth of 100 minus the amount 
        sent to participant B.
    </p>
    <ul>
        <li>Your Payoff = Effort Multiplier * (100 - Amount sent by you)</li>
        <li>Payoff B = Amount sent by you - Effort Cost</li>
    </ul>    
    {{ formfields }}
    <p>
        {{ include_sibling 'multiplier_table.html' }} 
    </p>
    <p>
    {{ next_button }}
    </p>

{{ endblock }}
