{{ block title }}Your Choice{{ endblock }}
{{ block content }}
    {{ if group.round_number == 1 }}
    <p>
        You have been assigned the role of Participant B. 
        {{ if C.NUM_ROUNDS > 1 }}
            This will be your role for the entire experiment. 
        {{ endif }}
        Participant A will be represented by another participant.
    </p>
    {{ else }}
    <p>
        You are in round {{ group.round_number }} of {{ C.NUM_ROUNDS }} rounds.
    </p>
    {{ endif }}        
    <p>
        {{ if C.NUM_ROUNDS > 1 }}
            This round, participant
        {{ else }}
            Participant
        {{ endif }}
        A sent you an amount of {{ group.wage }}. Based on this you can 
        choose the multiplier, inducing costs. The costs
        will reduce your payoff and 
        the multiplier will determine the payoff of participant A. 
        
        Remember that the payoff of participant A will be calculated as the 
        product of the multiplier with the difference of their
        endowment of 100 minus the amount sent to you.       
    </p>
    <ul>
        <li>Your Payoff = amount received from participant A - cost of multiple</li>
        <li>Payoff participant A = (100 - amount sent to you) * multiplier</li>
    </ul>    
    <p>
        {{ formfields }}
    </p>
    <p>
        {{ include_sibling 'multiplier_table.html' }} 
    </p>    
    <p>
        {{ next_button }}
    </p>

{{ endblock }}
