{{ block title }}Your Choice{{ endblock }}
{{ block content }}
    {{ if group.round_number == 1 }}
    <p>
        You have been assigned the role of Participant B. 
        {{ if C.NUM_ROUNDS > 1 }}
            This will be your role for the entire experiment. 
        {{ endif }}
        Another participant will be assigned the role of Participant A.
    </p>
    {{ else }}
    <p>
        You are in round {{ group.round_number }} of {{ C.NUM_ROUNDS }} rounds.
    </p>
    {{ endif }}        
    <p>
        {{ if C.NUM_ROUNDS > 1 }}
            This round, Participant
        {{ else }}
            Participant
        {{ endif }}
        A sent you {{ group.wage }}. 
        You should now select a multiplier.
        The multiplier you select will determine the payoff of Participant A.
        Specifically, the payoff of Participant A will be calculated as (100 - {{ group.wage }}) times the multiplier.
        Multipliers are costly to you. 
        In the table below you can look up the cost of each multiplier that you can choose.
        Your payoff will be calculated as {{ group.wage }} minus the cost of the multiplier you select.
    </p>
    <ul>
        <li>Your Payoff = number of points received from Participant A - cost of multiplier</li>
        <li>Payoff Participant A = (100 - number of points sent to you) * multiplier</li>
    </ul>    
    <p>
        {{ formfields }}
    </p>
    <p>
        {{ include_sibling 'multiplier_table.html' }} 
    </p>    
    <p>
        {{ next_button }}
    </p>

{{ endblock }}
