
<div class="card bg-light m-3">
    <div class="card-body">

    <h3>
        Instructions
    </h3>
    <p>
        This is an experiment on the interaction of managers and investors.
        Your objective in this experiment is maximizing your points. 
        You have been randomly and anonymously paired with another participant.
        In the experiment, there are two roles: manager and investor.
        The roles are randomly assigned to you and the other participant. 
        You will learn whether your role is manager or investor prior to making any decision.
    </p>
    <p>
        {{ if C.NUM_ROUNDS == 1 }}
            This experiment lasts only 1 round.
        {{ else }} 
            This experiment lasts {{ C.NUM_ROUNDS }} rounds.
        {{ endif }}

        The rules are as follows.
        {{ if C.NUM_ROUNDS > 1 }} 
            Each round, the investor
        {{ else }} 
            The investor
        {{ endif }}
        starts with an endowment of {{ C.ENDOWMENT }} points and the manager starts with an endowment of 0 points.
        The investor can send none, some, or all of their endowment to the manager.
        The investment of the investor is multiplied by 3.
        The manager then needs to decide how much of this multiplied amount they send back to the investor as a dividend.
        Anything that the manager does not send back to the investor, they can keep for themselves.  
        {{ if C.NUM_ROUNDS > 1 }}
            The points that both participants receive in each round are accumulated. 
        {{ endif }}
    </p>
    <p>
        <b>Example</b>
        Suppose that the investor chooses to invest 50 points. 
        This amount is then multiplied by 3, such that the manager now 
        has 150 points. Suppose the manager sends back 50 points to 
        the investor. The payoff of the investor then is 100 points 
        (100 - 50 + 50) and the payoff of the manager then is 100 points 
        (0 + 150 - 50).
    </p>
</div>
</div>