venv*
.venv
staticfiles
.idea
*~
_static_root
_bots*s
__temp*
__pycache__/
*.py[cod]
.DS_Store
secrets.env
.vscode
.Rproj.user
*.Rproj
*.Rhistory
otree/honesty/true_amounts.csv
otree/fhonesty/true_amounts.csv
*.log
*_bup
*.html
README_files
pground.*
