pandas
python-dotenv
tabulate
jupyter
# The below are dependencies for oTree. Currently oTree
# triggers a dependency conflict because it uses
# a very old version of markupsafe (otree 5.10.4 requires markupsafe==1.1.1)
# and thus cannot only installed without dependencies
setuptools
psycopg2
sentry-sdk
uvicorn
