{{ block title }}Your Choice{{ endblock }}
{{ block content }}
    {{ if group.round_number == 1 }}
        <p>
            You have been assigned the role of the supervisory board.
            {{ if C.NUM_ROUNDS > 1 }}
                This will be your role for the entire experiment. 
            {{ endif }}
            The manager will be represented by another
            participant.
        </p>
    {{ else }}
    <p>
        You are in round {{ group.round_number }} of {{ C.NUM_ROUNDS }} rounds.
    </p>
    {{ endif }}    
    <p>
        {{ if C.NUM_ROUNDS > 1 }}
            Like in every round, the 
        {{ else }} 
            The 
        {{ endif }}
        initial value of the firm is 100 and you have to decide on the 
        compensation that you will award to the manager.
        This compensation can be any integer between 0 and {{ C.WAGE_MAX }}.
        In turn, the manager will choose a certain effort level inducing costs
        to the manager. 
        Below, you will find the table that links the effort multiplier to 
        the effort cost that the manager can choose for your reference.
        This effort multiplier will determine your payoff. Your payoff 
        will be calculated as the product of the effort multiplier with
        the difference of the initial firm value of 100 minus the compensation
        that you choose to pay to the manager.
        <ul>
            <li>Your Payoff = Effort Multiplier * (Initial firm value of 100 - Compensation paid by you to manager)</li>
            <li>Payoff Manager = Compensation received from you - Effort Cost</li>
        </ul>
    </p>
    {{ formfields }}
    <p>
        {{ include_sibling 'multiplier_table.html' }} 
    </p>
    <p>
    {{ next_button }}
    </p>

{{ endblock }}
