{{ block title }}Your Choice{{ endblock }}
{{ block content }}
    {{ if group.round_number == 1 }}
    <p>
        You have been assigned the role of the manager. 
        {{ if C.NUM_ROUNDS > 1 }}
            This will be your role for the entire experiment. 
        {{ endif }}
        Another participant will be assigned the role of firm.
    </p>
    {{ else }}
    <p>
        You are in round {{ group.round_number }} of {{ C.NUM_ROUNDS }} rounds.
    </p>
    {{ endif }}        
    <p>
        {{ if C.NUM_ROUNDS > 1 }}
            This round, the firm
        {{ else }}
            The firm
        {{ endif }}
        has rewarded you a wage of {{ group.wage }}. Based on this you can 
        choose your effort level, inducing costs. The costs
        will reduce your payoff and 
        the effort level will determine the payoff of the firm. 
        
        Remember that the payoff of the firm will be calculated as the 
        product of the effort level with the difference of their
        endowment of 100 minus the wage that they paid you.       
    </p>
    <ul>
        <li>Your payoff = wage received from the firm - effort level cost</li>
        <li>Firm's payoff  = (100 - wage paid to you) * effort level</li>
    </ul>    
    <p>
        {{ formfields }}
    </p>
    <p>
        {{ include_sibling 'multiplier_table.html' }} 
    </p>    
    <p>
        {{ next_button }}
    </p>

{{ endblock }}
