{{ block title }}Instructions{{ endblock }}
{{ block content }}

<p>
    This is an experiment on decision-making.
    You have been randomly and anonymously paired with another participant.
    In the experiment, there are two roles: Participant A and Participant B.
    The roles are randomly assigned to you and the other participant. 
    You will learn whether your role is Participant A or Participant B prior to making any decision.
</p>
<p>
    In the experiment, you and the other participant can earn points. 
    Points will be exchanged for money at the end of the experiment.
</p>
<p>
    {{ if C.NUM_ROUNDS > 1 }}
        This experiment lasts {{ C.NUM_ROUNDS }} rounds.
    {{ endif }}

    The rules are as follows.
    {{ if C.NUM_ROUNDS > 1 }} 
        Each round, Participant A
    {{ else }} 
        Participant A
    {{ endif }}
    starts with an endowment of {{ C.ENDOWMENT }} and Participant B starts with an endowment of 0 points.
    Participant A can send none, some, or all of their endowment to Participant B.
    Each point that Participant A sends to Participant B is multiplied by 3.
    Participant B then needs to decide how much of this multiplied amount they send to Participant A.
    Anything that Participant B does not send to Participant A, they can keep for themselves.  
</p>
<p>
    <b>Example</b>
    Suppose that Participant A chooses to send 50 points to Participant B. 
    This amount is then multiplied by 3, such that Participant B now 
    has 150 points. Suppose Participant B sends back 50 points to 
    Participant A. The payoff of Participant A then is 100 points 
    (100 - 50 + 50) and the payoff of Participant B then is 100 points 
    (0 + 150 - 50).
</p>

{{ next_button }}

{{ endblock }}
